main, body, head {
    overflow: hidden;
    margin: 0;
}

.textbox {
    outline: none;
    border: none;
    color: rgb(224, 177, 203);
    text-align:center;
    border-bottom: 3px solid rgb(224, 177, 203);
    
    background-color: transparent;
  
    font-size:xxx-large;
    font-family: 'Roboto';
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
